<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Онлайн редактор кода GuruWeba</title>
</head>
<body>

<p>
<h3> Мой аккумулятор, 12 V</h3>
<img> src="battery.png"

</p>

<form  method="POST">
</form>

<p>
    Емкость А/ч
</p>

<p>
    <select name="battery.capacity" required="required">
        <option value="">Выберите значение</option>
        <option value="1">5</option>
        <option value="2">7</option>
        <option value="3">9</option>
        <option value="4">12</option>
        <option value="5">14</option>
        <option value="6">18</option>
        <option value="6">24</option>
        <option value="6">26</option>
        <option value="6">30</option>
        <option value="6">35</option>
        <option value="6">40</option>
        <option value="6">44</option>
    </select>
</p>
<p>
    Количество, шт
</p>
<p>
    <select name="battery.number" required="required">
        <option value="">Выберите значение</option>
        <option value="1">0</option>
        <option value="2">1</option>
        <option value="3">2</option>
        <option value="4">3</option>
        <option value="5">4</option>
        <option value="6">5</option>
        <option value="7">6</option>
        <option value="8">7</option>
        <option value="9">8</option>
        <option value="10">9</option>
        <option value="11">10</option>
        <option value="12">11</option>
    </select>
</p>


<p>
<h3> Осветительный прибор, 12 V</h3>

</p>
<form method="post" action=" _________-"></form>
<input type="checkbox" id="lightDevice.id" name="lightDevice,name" value="Лампа">
<label for="lightDevice"> Лампа</label><br>
<p>


</p>
<input type="checkbox" id="    " name="    " value=" ">
<label for="       "> Светодиодная лента</label><br>
<p>


</p>
<input type="checkbox" id=" " name="   " value="    ">
<label for="LightDevice"> Светодиодный модуль</label><br><br>


<p>
    Мощность, Вт
</p>
<p>
    <select name="lightDevice.capacity" required="required">
        <option value="">Выберите значение</option>
        <option value="1">5</option>
        <option value="2">7</option>
        <option value="3">9</option>
        <option value="4">12</option>
        <option value="5">14</option>
        <option value="6">18</option>
        <option value="7">24</option>
        <option value="8">26</option>
        <option value="9">30</option>
        <option value="10">35</option>
        <option value="11">40</option>
        <option value="12">44</option>
    </select>
</p>
<p>
    Количество, шт
</p>
<p>
    <select name="lightdevice.number" required="required">
        <option value="">Выберите значение</option>
        <option value="1">0</option>
        <option value="2">1</option>
        <option value="3">2</option>
        <option value="4">3</option>
        <option value="5">4</option>
        <option value="6">5</option>
        <option value="6">6</option>
        <option value="6">7</option>
        <option value="6">8</option>
        <option value="6">9</option>
        <option value="6">10</option>
        <option value="6">11</option>
    </select>
</p>

<p>
    <input type="submit" name="submit_btn" value="Р А С Ч И Т А Т Ь">
</p>

</body>
</html>